app = "casa0017-assessment"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  min_machines_running = 1

[[mounts]]
  source = "data"
  destination = "/data"

[env]
  NODE_ENV = "production"
  PORT = "3000"
  FLY_DB_PATH = "/server/db/eco_env.sqlite"

[[services]]
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 40

  [[services.http_checks]]
    interval = "15s"
    timeout = "2s"
    method = "get"
    path = "/api/health"
    protocol = "http"
    grace_period = "15s"
    tls_skip_verify = true